
img {
	width:80%;
	margin-left: 50px;
	margin-top: 10px;




}

.star {
  width: 20px; /* Width of new image */
  height: 20px; /* Height of new image */
  position: absolute;
  left:200px;
  top: 3000px;
  z-index:10;
}


table, td {
	border: 1px #70b8ff ;


}









